* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.content-box{
    width: 1280px;
    border: solid black;
    background-color: rosybrown;
}

.navbar{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid black;
}

.navbar a{
    font-family: "Montserrat", system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration:none;
    color:black;
    border: 1px solid black;
    
}

.header {
    font-family: "Montserrat", system-ui ;
    font-style:normal;
    font-weight: 600;
    font-size: 32px;
    color:black;
    border: 1px solid black;
    padding: 16px;
}

.view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 36px;
    border: 2px solid yellow;
    justify-items: center;
}

.product {
    border: 2px solid red;
}

.product-name {
    background-color: bisque;
    border: 2px solid black;
    
}

.product-price {
    
}


